* {
    box-sizing: border-box;
}

:root {
    --primary: #9933ff;
    --secondary: #6e5ea8;
    --tertiary: #f7f7f7;
    --grey: #bfbfbf;
    --extra: #ffff7a;
}

body {
    background: var(--tertiary);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--tertiary);
    padding: 30px 25px;
    margin: 0 10px;
    border-bottom: 5px solid var(--secondary);
}

footer {
    width: 100%;
    background-color: var(--tertiary);
    color: var(--secondary);
    font-size: 2.4rem;
    padding: 20px;
    border-top: 5px solid var(--secondary);
}

.page-title {
    color: var(--primary);
    font-size: 2.5rem;
    margin-bottom: 5px;
    margin-top: 0;
    justify-content: left;
    text-shadow: 0 2px black;
}

.page-desc {
    color: var(--secondary);
    font-size: 1.5rem;
}

.page-content {
    min-height: 500px;
    background-color: var(--grey);
    justify-content: center;
    margin: 10px;
}

.btn {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #ffff7a;
    font-size: 1.5rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 3px black;
}

.test-question-wrapper {
    background-color: var(--secondary);
    min-height: 100px;
    margin: 10px 30px;
}

.test-answer-wrapper {
    background-color: var(--tertiary);
    min-height: 300px;
    margin: 0 30px;
}